body {
    color: purple;
}
#topContent {
    text-align: right;
    background-color: #600;
    color: White;
    font-size: x-large;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    
}

#mainContent {
    border: solid 2px grey;
    float: right;
    width: 70%;
    /*display: block;*/
}
#leftContent{
    border: solid 2px grey;
    width: 20%;
}